.MuiCardActions-root {
    display: flex;
    justify-content: flex-end;
}

.lesson-card-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.lesson-card-description {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}