iframe {
  border: 1px solid #000;
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  display: block;
  outline: 0px solid transparent;
}

/* Make the container resizable */
div[data-youtube-video] {
  position: relative;
  resize: both; /* Enable resizing in both directions */
  overflow: hidden;
  max-width: 100%;
  min-width: 300px; /* Set a minimum width to avoid shrinking too much */
  min-height: 200px; /* Set a minimum height */
}

/* Ensure iframe fits inside the container */
div[data-youtube-video] > iframe {
  width: 95%;
  height: 100%;
  aspect-ratio: 16 / 9;
  cursor: move;
}

.ProseMirror-selectednode iframe {
  transition: outline 0.15s;
  outline: 6px solid #fbbf24;
}
