.lesson-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.lesson-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.vertical-line {
    border-left: 1px solid #000;
    height: 3rem;
}

.lesson-page-title h1 {
    font-size: 3rem;
}

.lesson-page-title h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.mb-6rem {
    margin-bottom: 6rem;
}