:root {
  --lionsize: 96px;
  --lionPlusSize: 40px;
}

.lionborder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 4px solid #ffcc00;
  border-radius: 50%;
  width: calc(var(--lionsize) + var(--lionPlusSize));
  height: calc(var(--lionsize) + var(--lionPlusSize));
}

.lionlogo {
  position: relative;
  width: var(--lionsize);
}